body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#ffcef3, #ffb9a2);
  overflow: hidden !important;
}
.clockbg {
  width: 50vh;
  height: 50vh;
  background-color: brown;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 12px;
  box-shadow: grey 3px 3px 12px;
}

.clock-container {
  position: absolute;
  width: 72%;
  height: 72%;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
  --rotateH: 0;
  box-shadow: brown 0px 0px 3px;
}
.hand {
  position: absolute;
  box-shadow: grey 0px 0px 3px;
}

.secH {
  width: 3px;
  height: 50%;
  background-color: brown;
  bottom: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  transform: rotate(calc(var(--rotateH) * 1deg)) translateX(-50%);
}
.minH {
  width: 9px;
  height: 50%;
  background-color: black;
  bottom: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%) rotate(calc(var(--rotateH) * 1deg));
  border-radius: 9px 9px 0 0;
}
.hourH {
  width: 15px;
  height: 33%;
  background-color: black;
  bottom: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%) rotate(calc(var(--rotateH) * 1deg));
  border-radius: 9px 9px 0 0;
}
.clock-container:after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: brown;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* dial */
.dial {
  --radius: 100%;
  --rotationD: 0;
  width: var(--radius);
  height: var(--radius);
  background-color: #ffeed5;
  position: absolute;
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
}
.tick {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: grid;
  justify-items: center;
  transform: rotate(calc(var(--rotationD) * 1deg));
}
.tick:before {
  content: "";
  background-color: lightcoral;
  box-shadow: cadetblue 0px 0px 1px;
  position: absolute;
  border-radius: 50%;
  margin-top: 3px;
}
.tickMain:before {
  width: 0.5em;
  height: 0.5em;
}
.tickMid:before {
  width: 0.3em;
  height: 0.3em;
}

.numbr {
  position: absolute;
  transform: rotate(calc(-1deg * var(--rotationD)));
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 0.5em;
}

.logo {
  position: absolute;
  width: 30%;
}
